@import url('https://fonts.googleapis.com/css?family=Abel');
@font-face {
  font-family: "alienEncounters";
  src: url('../fonts/SFAlienEncounters.ttf');
}

body {
  background-color: black;
}

label {
  font-family: 'alienEncounters';
  color: #00FF00;
}

input[type="text"], textarea {
  background-color : black;
  color: #00FF00;;
}

.green {
    background-color: black;
    color: #00FF00;
}

form {
  max-width: 400px;
}

h1 {
  text-align: center;
  font-family: 'alienEncounters';
  font-size: 70px;
  color: #ff1515;
}

p {
  font-family: 'alienEncounters';
  font-size: 20px;
  color: #00FF00;
}

h3 {
  color: #00FF00;
  font-family: 'alienEncounters';
}

img {
  max-width: 300px;
  max-height: 300px;
}

.result {
  display: none;
}

button {
  font-family: 'alienEncounters';
  color: #ff1515;
  font-size: 40px;
}

.long-life {
  display: none;
}
